
table, th, td {
  background-color: black;
  color: white;
  border: 0.1px solid grey;
  border-spacing: 0px;
  width: 150x;
  margin: 15px;
  margin-right: 150px;
  }

.edit{
  width: 150px;
  color: blanchedalmond;
  border-color: white;
}

.edit2{
  width: 500px;
  border: red;
  color: ;
}