* {
  margin: 0;
  padding: 0;
}

.pageBody{
  background-color: black;
  color: yellow;
}

.menuHeader {
  display: flex;
}

.offerMenu {
  margin-left: 250px;
  margin-right: 275px;
  color: white;
  font-size: 1.3rem;
  margin-top: 20px;
}

.accessMenu {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: yellow;
  font-size: 0.8rem;
  margin: 8px;
  padding: 8px 16px;
  border:  grey 1px;
  border-radius: 5px;
}
