* {
  margin: 0;
  padding: 0;
}

.logo{
  margin-left: -100px;
  padding: 0;
}

.page {
  background-color: black;
  color: yellow;
  }

.menu {
  display: flex;
  justify-content: space-evenly;
}

.welcome {
  margin-left: 4rem;
}

a {
  text-decoration: none;
  color: yellow;
  font-size: 0.8rem;
  margin: 8px;
  padding: 8px 16px;
  border: solid grey 1px;
  border-radius: 5px;
}
